---
---
@charset "utf-8";


:root {
    color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--bg-color);
  color: var(--fg-color);
  fill: var(--fg-color);
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--banana-300);
  color: var(--orange-900);
}

pre {
  -webkit-text-size-adjust: none;
}

.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

[hidden] {
  display: none;
}

// Global
@import "zirconium-colors";
@import "zirconium-layout";
@import "zirconium-typography";

// Components
@import "zirconium-byline";
@import "zirconium-code";
@import "zirconium-post";
@import "zirconium-figures";
@import "zirconium-nav";
@import "twitter-cards";
@import "banner";
@import "zirconium-buttons";
@import "zirconium-courses";
@import "zirconium-lesson";
@import "zirconium-lesson-list";
@import "zirconium-monokai";

/* UTILITIES */
.flexify {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: wrap;

  h2, h3, h4, h5, h6 {
    flex-basis: max-content;
    margin: 0;
  }
}