---
---
@charset "utf-8";

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--bg-color);
  color: var(--fg-color);
  fill: var(--fg-color);
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--banana-300);
  color: var(--orange-900);
}

pre {
  -webkit-text-size-adjust: none;
}

.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

[hidden] {
  display: none;
}

:target {
  animation: target-anim 3s;
  outline-offset: 1em;
}

@keyframes target-anim {
  0%, 75% {
    outline: 3px solid #fd0;
  }
  100% {
    outline: 3px solid #fd00;
  }
}

// Global
@import "zirconium-colors";
@import "zirconium-layout";
@import "zirconium-typography";

// Components
@import "zirconium-byline";
@import "zirconium-code";
@import "zirconium-post";
@import "zirconium-figures";
@import "zirconium-nav";
@import "twitter-cards";
@import "banner";
@import "zirconium-buttons";
@import "zirconium-courses";
@import "zirconium-lesson";
@import "zirconium-lesson-list";
@import "zirconium-monokai";

/* UTILITIES */
.flexify {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: wrap;

  h2, h3, h4, h5, h6 {
    flex-basis: max-content;
    margin: 0;
  }
}

.skip-to-content-link {
	left: 50%;
	padding: 8px;
	position: absolute;
	transform: translateX(-50%) translateY(-150%);
	transition: transform 0.3s;
	border-radius: 0.25em;
	top: 0.5em;
	background-image: none;
	color: var(--primary);
	background-image: none;
  background-color: var(--primary-light);
  z-index: 99999;
}

.skip-to-content-link:focus {
	transform: translateX(-50%) translateY(0%);
	z-index: 99999;
}

.visuallyhidden,
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}