{% assign visuallyhidden = 'visuallyhidden' %}

{% if include.showLabels %}
    {% assign visuallyhidden = '' %}
{% endif %}

<div class="links">
    <a href="https://github.com/antaresprogramming" rel="noreferrer nofollow noopener" target="_blank" title="GitHub">
        {% include svg/github.svg %}
        <span>Github</span>
    </a>

    <a href="https://www.patreon.com/antaresprogramming" rel="noreferrer nofollow noopener" target="_blank"
        title="Patreon">
        {% include svg/patreon.svg %}
        <span>Patreon</span>
    </a>

    <a href="https://www.paypal.me/antaresprogramming" rel="noreferrer nofollow noopener" target="_blank"
        title="Paypal">
        {% include svg/paypal.svg %}
        <span>Paypal</span>
    </a>

    <a href="https://www.buymeacoffee.com/antaresphdev" rel="noreferrer nofollow noopener" target="_blank"
        title="BuyMeACoffee">
        {% include svg/buymeacoffee.svg %}
        <span>BuyMeACoffee</span>
    </a>

    {% if include.gcash %}
    <button title="GCash" onclick="toggleGCashMenu(this)" aria-expanded="false" aria-label="Toggle GCash number"
        aria-controls="gcash-controls">
        {% include svg/gcash.svg %}
        <span>GCash</span>
    </button>
    {% endif %}
</div>

{% if include.gcash %}
{% include gcash-controls.html collapsible=true %}
{% endif %}