<section class="lesson__video">
      <div class="lesson__video-wrapper">
        <img class="aspect-ratio-hack" src='data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACwAAAAAEAAJAAACCoSPqcvtD6OclBUAOw=='>
        <iframe title="VIDEO: {{ page.title }}" class="lesson__video-embed" width="560" height="315" src="{{ page.video_embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="lesson__video-details">
        <h2 class="lesson__title">{{ page.title }}</h2>
        <p>{{ page.summary }}</p>
        {% if page.downloads != nil %}
        <div class="lesson__video-actions">
          <h3>
            {% include svg/download.svg %}
            Download&hellip;
          </h3>
          
          {% if page.downloads.video != nil %}
          <a class="btn" href="{{ page.video_download }}" download>
            {% include svg/video.svg %}
            Video
          </a>
          {% endif %}
          
          {% if page.downloads.code != nil %}
          <a class="btn" download href="{{ page.code }}">
            {% include svg/code.svg %}
            Code Used
          </a>
          {% endif %}
          
          {% if page.downloads.pdf != nil %}
          <a class="btn" href="{{ page.downloads.pdf.link }}" download>
            {% include svg/pdf.svg %}
            Article 
            <small>(<abbr title="Portable Document Format">PDF</abbr>{% if page.downloads.pdf.file_size != nil %}, {{ page.downloads.pdf.file_size }}{% endif %})
            </small>
          </a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </section>
