<style>
  .gdpr, .with-js .gdpr:not([open]) {
    display: none;
  }

  .with-js .gdpr {
    position: fixed;
    font-size: 0.8rem;
    padding: 1em;
    margin: 0;
    box-shadow: 0 18px 45px #000a;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    z-index: 999;
  }

  .gdpr h3 {
    margin: 0;
  }

  .gdpr .actions {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1em;
  }

  .gdpr .actions .btn {
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    .with-js .gdpr {
      max-width: 720px;
      border-radius: 0.25em;
      box-shadow: 0 18px 45px #000a;
      width: 50vw;
      bottom: 1rem;
      right: 1rem;
      left: unset;
    }
  }
</style>
<dialog class="gdpr">
  <h3>Puwede ba kaming mag-store ng cookies?</h3>
  <p>
    Nagse-save ang Antares Programming ng cookies sa browser mo para sa
    analytics. Nakakatulong ito sa amin na malaman kung nakakatulong sa inyo ang
    mga nasa site na ito.
  </p>
  <div class="actions">
    <button class="btn btn--primary js-gdpr-btn">
      Sige, mag-store kayo ng cookies
    </button>
    <button class="btn">Huwag kayong mag-store ng cookies</button>
  </div>
</dialog>

<footer>
  <p class="copyright">&copy; 2021 Antares Programming</p>
  <section class="footer__section">
    <h3 id="footer-heading-1" class="footer__section__title">About</h3>
    <nav aria-labelledby="footer-heading-1">
      <ul>
        <li><a href="/about/">About Antares Programming</a></li>
        <li><a href="/about/contact/">Contact Us</a></li>
        <li><a href="/about/donations-sponsors/">Donations and Sponsors</a></li>
        <li><a href="/about/collaborations/">Collaborations</a></li>
        <li>
          <a
            href="https://celestialcinnamon.github.io/antares-blog"
            target="_blank"
            rel="noopener noreferrer"
            >Visit the old blog</a
          >
        </li>
      </ul>
    </nav>
  </section>
  <section class="footer__section">
    <h3 id="footer-heading-2" class="footer__section__title">Social Media</h3>
    <nav aria-labelledby="footer-heading-2">
      <ul>
        <li>
          <a
            href="https://facebook.com/antaresprogramming"
            target="_blank"
            rel="noopener noreferrer"
            >Facebook</a
          >
        </li>
        <li>
          <a
            href="https://twitter.com/antaresphdev"
            target="_blank"
            rel="noopener noreferrer"
            >Twitter</a
          >
        </li>
        <li>
          <a
            href="https://instagram.com/antaresprogramming"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://youtube.com/c/antaresprogramming"
            target="_blank"
            rel="noopener noreferrer"
            >Youtube</a
          >
        </li>
      </ul>
    </nav>
  </section>
  <div class="waves"></div>
</footer>
