<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.title != nil %}
    {% assign title = page.title %}
  {% else %}
    {% assign title = site.title %}
  {% endif %}
  <title>{{ title }}</title>

  <!-- STYLESHEETS -->
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="{{ site.url }}/css/antares.css">
</head>