{% assign courseID = include.courseID %}
{% assign courseData = site.data.courses | where: "id", courseID | first %}
<nav class="sidebar" aria-label="Course Lessons">
  <div class="sidebar__wrapper">
    <div class="sidebar__header">
      <h2>{{ courseData.title }}</h2>
      <button class="btn js-sidebar-toggler">&times;</button>
    </div>
    <ol class="lesson-list lesson-list--sidebar">
    {% for lesson in courseData.lessons %}
      {% assign lessonPage = site.pages | where: 'id', lesson.id | first %}
      <li>
        <a {% if lessonPage != nil %}href="{{ site.url }}/courses/{{ courseID }}/{{ lesson.id }}/"{% endif %}>
          <div class="link-wrapper">
            <span class="lesson-link__title">{{ lesson.title }}</span>
            <p class="lesson-link__summary">{{ lesson.summary }}</p>
          </div>
        </a>
      </li>
    {% endfor %}
    </ol>
  </div>
</nav>
