{% if (include.checkpoints) %}<script src="/js/checkpoint.js"></script>{% endif %}
<script src="/js/rainbow.min.js"></script>
<script>
  // Makes figure images focusable for zooming
  let figureImages = document.querySelectorAll ("figure img");
  figureImages.forEach (function (figureImage) {
    figureImage.setAttribute ("tabindex", -1);
    document.addEventListener ('mousedown', event => {
      if (document.activeElement === figureImage) {
        // Prevent it from triggering on focusIn
        setTimeout (function () {
          document.activeElement.blur ();
        }, 100);
      }
    });
  });
</script>

<script>
  const sidebarTogglers = document.querySelectorAll('.js-sidebar-toggler');
  const sidebar = document.querySelector('.sidebar')
  const sidebarWrapper = document.querySelector('.sidebar__wrapper')
  sidebarTogglers.forEach(btn => {
    btn.classList.remove('hide-if-noscript')
    btn.addEventListener('click', event => {
      sidebar.classList.toggle('open');
    })
  })
  
  if(sidebar != null) {
    sidebar.addEventListener('click', event => sidebar.classList.toggle('open'))
    sidebarWrapper.addEventListener('click', event => event.stopPropagation())
  }
</script>
