{% if (include.checkpoints) %}<script src="/js/checkpoint.js"></script>{% endif %}
<script src="/js/rainbow.min.js"></script>
<script>
  // Makes figure images focusable for zooming
  let figureImages = document.querySelectorAll ("figure img");
  figureImages.forEach (function (figureImage) {
    figureImage.setAttribute ("tabindex", -1);
    document.addEventListener ('mousedown', event => {
      if (document.activeElement === figureImage) {
        // Prevent it from triggering on focusIn
        setTimeout (function () {
          document.activeElement.blur ();
        }, 100);
      }
    });
  });
</script>

<script>
  const sidebarTogglers = document.querySelectorAll('.js-sidebar-toggler');
  const sidebar = document.querySelector('.sidebar')
  const sidebarWrapper = document.querySelector('.sidebar__wrapper')
  sidebarTogglers.forEach(btn => {
    btn.classList.remove('hide-if-noscript')
    btn.addEventListener('click', event => {
      sidebar.classList.toggle('open');
    })
  })
  
  if(sidebar != null) {
    sidebar.addEventListener('click', event => sidebar.classList.toggle('open'))
    sidebarWrapper.addEventListener('click', event => event.stopPropagation())
  }
</script>

<script>
  let search
  (function() {
    document.body.classList.add('with-js')
    search = document.querySelector('.js-search-control')

    var navButton = document.querySelector('.js-nav-toggler');
    navButton.addEventListener('click', function() {
      let expanded = this.getAttribute('aria-expanded') === 'true' || false;
      this.setAttribute('aria-expanded', !expanded);
      
      let menu = document.querySelector('.js-nav');
      menu.hidden = !menu.hidden;
    });

    let searchButtons = document.querySelectorAll('.js-search-toggler')
    searchButtons.forEach(btn => {
      btn.addEventListener('click', function() {
        let expanded = this.getAttribute('aria-expanded') === 'true' || false;
        searchButtons.forEach(button => button.setAttribute('aria-expanded', !expanded))

        search.hidden = !search.hidden;
      })
    })
    
    document.body.addEventListener('keydown', e => {
      if(e.key === 'Escape') {
        closeSearchUI();
      }
    })
  })()

  function closeSearchUI() {
    let searchButtons = document.querySelectorAll('.js-search-toggler')
    searchButtons.forEach(button => {
      button.setAttribute('aria-expanded', false);
      search.hidden = true;
    })
  }

  function toggleGCashMenu(btn) {
    const gCashControls = document.getElementById('gcash-controls')
    let expanded = btn.getAttribute('aria-expanded') === 'true' || false;
    console.log({expanded})
    btn.setAttribute('aria-expanded', !expanded)
    gCashControls.hidden = !gCashControls.hidden
  }

  function copyGCashNumber(textboxID) {
    const textbox = document.getElementById(textboxID);

    textbox.select();
    textbox.setSelectionRange(0, 99999); 
    
    document.execCommand("copy");
  }
</script>

<script>
  // For sticky navbar shadow
  (function() {
    const el = document.querySelector(".main-nav")
    const observer = new IntersectionObserver( 
      ([e]) => e.target.classList.toggle("is-pinned", e.intersectionRatio < 1),
      { 
        root: document.querySelector("body"),
        threshold: [1]
      }
    );

    observer.observe(el);
  })()
</script>


<!-- or without installing anything -->
<script src="https://unpkg.com/simple-jekyll-search@latest/dest/simple-jekyll-search.min.js"></script>
<script>
  var sjs = SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '/js/postindex.json'
  })
</script>