---
layout: courses
title: "Matutong gumawa ng websites"
summary: "Libreng courses para sa Web development. Lahat sa Tagalog/Filipino."
permalink: /courses/
type: index
order: -1
---

<h2 class="course-list__title">Courses available</h2>

<section class="latest">
  {% assign sortedCourses = site.courses | sort: 'order' %} {% for course in
  sortedCourses %} {% assign sortedTags = course.tags | sort %} {% if
  course.type != "index" %}
  <article class="featured post post--inpost">
    <img
      class="post__image"
      src="{{ course.image }}"
      alt=""
      width="16"
      height="9"
    />
    <div class="card">
      <h2 class="card__title">
        <a href="{{ course.permalink }}"
          >{% include title.html title=course.title %}</a
        >
        {% unless course.is_done %}<span
          class="badge"
          aria-label="Abangan ang course na ito"
          >Soon</span
        >{% endunless %}
      </h2>
      <p class="card__description">
        {% if course.summary %} {{ course.summary }} {% else %} {{
        course.description }} {% endif %}
      </p>
      <footer class="tags">
        {% for tag in sortedTags %}
        <span class="tag"> {{ tag }} </span>
        <span class="tag-separator"></span>
        {% endfor %}
      </footer>
    </div>
  </article>
  {% endif %} {% endfor %}
</section>
