@import "utilities/variables";

.banner {
	min-height: 50vh;
	display: grid;
	background-size: cover, contain;
	background-position: right -100px center;
	background-repeat: repeat, no-repeat;
	grid-template-rows: 20vh 1fr;
	background-color: #FD05;
}

.banner::after,
.banner::before {
  content: "";
  grid-row: 1/3;
  height: 100%;
  grid-column: 1/2;

}

.banner::after {
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0) 0%,
    hsla(0, 0%, 100%, 0.013) 8.1%,
    hsla(0, 0%, 100%, 0.049) 15.5%,
    hsla(0, 0%, 100%, 0.104) 22.5%,
    hsla(0, 0%, 100%, 0.175) 29%,
    hsla(0, 0%, 100%, 0.259) 35.3%,
    hsla(0, 0%, 100%, 0.352) 41.2%,
    hsla(0, 0%, 100%, 0.45) 47.1%,
    hsla(0, 0%, 100%, 0.55) 52.9%,
    hsla(0, 0%, 100%, 0.648) 58.8%,
    hsla(0, 0%, 100%, 0.741) 64.7%,
    hsla(0, 0%, 100%, 0.825) 71%,
    hsla(0, 0%, 100%, 0.896) 77.5%,
    hsla(0, 0%, 100%, 0.951) 84.5%,
    hsla(0, 0%, 100%, 0.987) 91.9%,
    hsl(0, 0%, 100%) 100%
  );
  background-size: cover;
  background-position: center;

  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 13%, 0) 0%,
      hsla(0, 0%, 13%, 0.013) 8.1%,
      hsla(0, 0%, 13%, 0.049) 15.5%,
      hsla(0, 0%, 13%, 0.104) 22.5%,
      hsla(0, 0%, 13%, 0.175) 29%,
      hsla(0, 0%, 13%, 0.259) 35.3%,
      hsla(0, 0%, 13%, 0.352) 41.2%,
      hsla(0, 0%, 13%, 0.45) 47.1%,
      hsla(0, 0%, 13%, 0.55) 52.9%,
      hsla(0, 0%, 13%, 0.648) 58.8%,
      hsla(0, 0%, 13%, 0.741) 64.7%,
      hsla(0, 0%, 13%, 0.825) 71%,
      hsla(0, 0%, 13%, 0.896) 77.5%,
      hsla(0, 0%, 13%, 0.951) 84.5%,
      hsla(0, 0%, 13%, 0.987) 91.9%,
      hsl(0, 0%, 13%) 100%
    );
  }
}

.banner::before {
  background-image: url("/images/course-banner-pic.png");
  background-size: contain;
  background-position: right -100px center;
  background-repeat: no-repeat;

  @media (prefers-color-scheme: dark) {
    filter: invert(100%);
    opacity: 0.25;
  }
}

.banner.has-image::before {
	background-image: var(--banner-image);
	background-position: center;
	background-size: cover;

  @media (prefers-color-scheme: dark) {
    filter: none;
    opacity: 1;
  }
}

.banner__title {
  margin: 0;
  font-size: 5rem;
  font-size: clamp(3rem, 10vw, 7rem);
  line-height: 1;
}

.banner__wrapper {
	margin: 4vw;
	grid-row: 2/3;
	grid-column: 1/2;
	z-index: 1;
	display: grid;
}

.banner__wrapper > * {
	margin: 0;
}

.banner__paragraph {
	font-size: 1.5em;
	margin-top: 1em;
}

.banner__subtitle {
	grid-row: 1;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	background-color: var(--primary);
	padding: 0.5em;
	border-radius: 0.25em;
	width: -moz-fit-content;
	width: fit-content;
}
