@import "utilities/variables";
:root {
  --primary: #ff0852;
  --primary-light: #ff085255;

  --accent: #f99f41;
  --accent-light: #f99f4155;

  --selection-bg: var(--accent-light);
  --selection-fg: var(--fg-color);

  --bg-color: #ffffff;
  --bg-transparent: #fffa;
  --nav-bg-color: var(--bg-color);
  --nav-bg-color-blurred: rgba(255, 255, 255, 0.72);

  --fg-color: #212121;

  --button-bg: var(--primary-light);
  --button-fg: var(--primary);
  --button-stroke: #0003;

  --bg-code: #0001;
  --kbd-shadow: 0 2px 0 #0003, inset 0 1px 0 #fff5;

  --link-color: var(--primary);
  --link-fg: #ffcedc;

  --header-bg-color:#F9C440;
  --header-fg-color: hsl(43, 94%, 11%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(33, 33, 33);
    --bg-transparent: rgb(33, 33, 33, 0.7);
    --nav-bg-color: var(--bg-color);
    --nav-bg-color-blurred: rgba(33, 33, 33, 0.72);

    --fg-color: #eeeeee;

    --kbd-shadow: 0 2px 0 #0006, inset 0 1px 0 #fff1;
    --link-color: #ffcedc;
    --link-fg: var(--primary);
  }
}
