.btn {
	background-image: none;
	border-radius: 0.5rem;
	padding: 1rem;
	border-radius: 0.5rem;
	border: none;
	color: var(--button-fg);
	transition: filter 300ms;
	display: inline-flex;
	align-items: center;
	align-content: center;
	gap: 0.5rem;
	cursor: pointer;
	font-family: var(--ui-font);
	background-color: transparent;
	font-weight: bold;
	text-decoration: none;

	&:active,
	&:hover,
	&:focus {
		background-color: var(--button-bg);
		color: var(--button-fg);
	}

	&:active {
		filter: saturate(150%);
		box-shadow: 0 0 0 #0000;
	}

	&--primary {
	}

	svg {
		min-width: 2em;
	}
}