@import "utilities/variables";

a.featured {
  border-radius: 0.5rem;
  display: block;
  padding: 1rem;
  color: var(--fg-color);
  background-image: none;
  display: grid;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  transition: background-color 300ms;

  @media screen and (min-width: 350px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &:hover {
    background-color: #21212133;
  }

  .featured__image {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 3px 5px #000a;
  }

  .featured__body {
    align-self: center;

    h2, h3 {
      margin: 1rem auto;
    }

    h3 {
      font-size: 1rem;
      font-weight: normal;
    }
  }

  .byline {
    padding: 0;
    gap: 0.25rem;
    grid-template-columns: min-content 1fr;
  }
}

.card-grid {
  max-width: var(--page-width);
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

@media (min-width: 940px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
    
    a.featured:first-child {
      grid-column: span 2;
    }
  }
}

.post__header {
  padding: 5vh 10vw;
  padding-top: 30vh;
  min-height: 75vh;
  background-color: #27253D;
  color: #fff;
  background-image: url("/images/post-header-mask.svg"), var(--cover);
  background-repeat: no-repeat;
  /* background-size: 100%; */
  text-shadow: #27253d 3px 0px 0px, #27253d 2.83487px 0.981584px 0px, #27253d 2.35766px 1.85511px 0px, #27253d 1.62091px 2.52441px 0px, #27253d 0.705713px 2.91581px 0px, #27253d -0.287171px 2.98622px 0px, #27253d -1.24844px 2.72789px 0px, #27253d -2.07227px 2.16926px 0px, #27253d -2.66798px 1.37182px 0px, #27253d -2.96998px 0.42336px 0px, #27253d -2.94502px -0.571704px 0px, #27253d -2.59586px -1.50383px 0px, #27253d -1.96093px -2.27041px 0px, #27253d -1.11013px -2.78704px 0px, #27253d -0.137119px -2.99686px 0px, #27253d 0.850987px -2.87677px 0px, #27253d 1.74541px -2.43999px 0px, #27253d 2.44769px -1.73459px 0px, #27253d 2.88051px -0.838247px 0px;
  background-size: cover;
  background-position: bottom center, center;

  a {
    text-shadow: none;
  }

  .tag {
    color: #F99F41;
    background-image: none;
    border: 1px solid transparent;
    padding: 0.25em;
    border-radius: 0.25em;

    &:hover {
      background-color: rgba($yellow, 0.1);
    }

    &:focus {
      border-color: currentColor;
    }
  }

  .tags {
    padding: 1rem 2rem;
  }

  .post__title {
    margin: 0;
    line-height: 1;
    font-size: 1.802rem;
    font-size: clamp(3rem, 10vw, 5rem);
  }

  .post__subtitle {
    font-weight: normal;
    line-height: 1.25;
    font-size: clamp(1.602rem, 2vw, 3rem);
  }
}

.post {
  max-width: none;
  padding: 0;
  line-height: 1.5; 

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
  }

  h1 {font-size: 1.802rem;}
  h2 {font-size: 1.602rem;}
  h3 {font-size: 1.424rem;}
  h4 {font-size: 1.266rem;}
  h5 {font-size: 1.125rem;}
  small, .text_small {font-size: 0.889rem;}

  .post__contents {
    font-family: var(--copy-font);
    padding: 1em;

    p, ul, ol, dl {
      font-size: 1.1em;
      margin: 1em;
    }

    &>h2, &>h3, &>h4, &>h5, &>h6 {
      margin: 1rem;
    }

    &>h2 {
      color: var(--grape-900);

      &::before {
        content: '';
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3'%3E%3Ccircle cx='2.5' cy='2.5' r='.5' fill='%23242a49'/%3E%3C/svg%3E") repeat center center;
        display: block;
        width: 10ch;
        height: 1em;
      }
    }

    .notice {
      grid-column: 1/4;
      font-family: var(--ui-font);

      h2::before {
        content: none;
      }

      &.notice--ad {
        padding: 1em;
        background-color: transparent;
        margin: auto;
        max-width: 40ch;

        .notice__wrapper {
          margin: auto;
          padding: 1em;
          background-color: var(--ad-color);
          box-shadow: 0 4px 18px var(--ad-shadow-color);
          border-radius: 0.25em;
        }
      }
    }

    @media screen and (min-width: 1395px) {
      .notice.notice--ad {
        grid-column: 3/4;
        grid-row: 3 / span 5;
      }
    }
  }

  & > * {
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;

    & > * {
      grid-column: 2;
    }

    blockquote,
    .post__title,
    .post__subtitle,
    .full-bleed {
      width: 100%;
      grid-column: 1 / 4;
      max-width: none;
    }

    blockquote {
      width: 90%;
      margin: auto;
    }
  }
}

.social {
  text-align: center;
  
  .share {
    a{
      display: inline-block;
      margin: 1rem;
      background-image: none;
      padding: 1rem;
      border-radius: 0.5rem;
      
      &:hover, &:focus {
        background-color: var(--accent-light);
      }
    }
    
    img {
      width: 2rem;
      display: block;
    }
  }
}

#markdown-toc {
  display: none;
}

.utterances-frame {
	min-width: calc(100% - 2em);
	max-width: calc(100% - 2em);
	margin: 0 1em;
}

aside.medium {
  padding: 1em;
}