@import "utilities/variables";
ul.course-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin: 2rem auto;
  padding: 0;
  max-width: var(--content-width);

  li {
    a {
      display: grid;
      padding: 1.5rem;
      background: none;
      color: inherit;
      border: 1px solid #0003;
      border-radius: 0.5rem;
      transition: box-shadow 300ms;
      gap: 1em;

      &:hover {
        box-shadow: 0 8px 15px #0003;
      }

      &:active {
        box-shadow: none;
        transition: box-shadow 30ms;
      }

      strong {
        font-size: 1.5em;
        line-height: 1.25;
      }

      p {
        margin: 0;
      }

      .release-date {
        color: #888;

        svg {
          display: inline;
        }
      }
    }
  }
}

.badge {
  font-size: small;
  font-weight: normal;
  background-color: var(--primary);
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--primary);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #fff;
}

.note {
  display: block;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #0003;
  box-shadow: none;
  background-color: var(--mark-bg);
  color: var(--mark-fg);
  --mark-bg: #1e90ff1c;
  --mark-fg: var(--fg-color);
  border-left: 5px solid;
  --mark-color: dodgerblue;
  border-color: var(--mark-color);
}

.lessons-list {
  counter-reset: lesson 0;
  list-style: none;

  li {
    counter-increment: lesson;
    position: relative;
    display: flex;
    align-items: center;

    --list-marker-bg: var(--bg-color);
    --list-marker-border: #ddd;
	--list-connector: #ddd;

    &.lesson--open {
      --list-marker-border: var(--accent);
      --list-connector: var(--list-marker-border);
    }

    &::before {
      content: counter(lesson);
      border-radius: 100%;
      background-color: #ddd;
      width: 50px;
      height: 50px;
      display: grid;
      text-align: center;
      align-content: center;
      z-index: 2;
      background-color: var(--list-marker-bg);
      box-shadow: 0 0 0 3px var(--list-marker-border);
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 3px;
      background-color: #ddd;
      background-color: var(--list-connector);
      top: 50%;
      left: 24px;
    }

    &:last-child::after {
      content: none;
    }

    a {
      display: block;
      background: none;
      color: inherit;
      padding: 1rem;
      margin: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid #0000;
      transition: box-shadow 300ms;
      flex: 1;
      text-decoration: none;

      &[href]:hover,
      &:focus {
        border-color: #0003;
        box-shadow: 0 18px 45px #0003;
      }

      &:active {
        box-shadow: none;
        transition: box-shadow 30ms;
      }

      p {
        margin: 0;
        text-indent: 0;
      }
    }
  }

  a:not([href]) {
    opacity: 0.5;
  }
}

.courses .featured.post {
  grid-column: span 2;
  width: 100%;
}

.course-list__title {
  font-size: 3rem;
  margin: 0;
}

.courses .latest {
  max-width: 100ch;
  margin: auto;
}
