@import "utilities/variables";

.social {
  text-align: center;

  .share {
    a {
      display: inline-block;
      margin: 1rem;
      background-image: none;
      padding: 1rem;
      border-radius: 0.5rem;

      &:hover,
      &:focus {
        background-color: var(--accent-light);
      }
    }

    img {
      width: 2rem;
      display: block;
    }
  }
}

#markdown-toc {
  display: none;
}

.utterances-frame {
  min-width: calc(100% - 2em);
  max-width: calc(100% - 2em);
  margin: 0 1em;
}

aside.medium {
  padding: 1em;
}

.post {
  display: grid;
  grid-template-rows: minmax(200px, 1fr) auto;
  max-width: 700px;
  height: 100%;
}

.post.featured {
  grid-template-rows: minmax(0, 1fr);
  grid-template-columns: 3fr 4fr;
  max-height: 500px;
  margin: 0;
  max-width: none;
}

.main--homepage .featured.post {
  height: 400px;
}

.post > * {
  grid-column: 1/2;
}

.post__image {
  grid-row: 1/3;
  border-radius: 0.25rem;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.featured .post__image {
  grid-column: 1/3;
}

.post .card {
  grid-row: 2/3;
  margin: 1em;

  display: grid;
  grid-template-rows: auto minmax(5em, 1fr) repeat(3, min-content);
}

.featured.post .card {
  grid-column: 2/3;
  grid-row: 1/2;
  grid-template-rows: auto minmax(1em, 1fr) repeat(3, min-content);
}

.card {
  background-color: #fafafa;
  padding: 1em;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px #0005;
}

.card__title {
  margin: 0;
  grid-row: 3/4;
}

.card__title a {
  color: inherit;
  text-decoration: none;
  background: none;
}

.card__title a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(255, 8, 82, 0.1);
}

.card__description {
  grid-row: 4/5;
  max-width: none;
  margin: 1em 0;
}

.byline {
  display: flex;
  justify-content: space-between;
  grid-row: 5/6;
  flex-wrap: wrap;
  padding: 0;
}

.byline__author {
  font-weight: bold;
  font-style: normal;
}

.byline__author a {
  text-decoration: none;
  color: #ff0852; /* USE THE SASS VARIABLE $pink */
}

.tags {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  grid-row: 1/2;
}

.tags .tag {
  color: #ff0852;
  background-image: none;
  border: 1px solid transparent;
  padding: 0.25em;
  border-radius: 0.25em;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 0.25ch;
  text-decoration: none;
}

.tags .tag:hover {
  background-color: rgba(255, 8, 82, 0.1);
}

.tag-separator {
  display: block;
  width: 0.5ch;
  height: 0.5ch;
  background-color: rgba(255, 8, 82, 0.5);
  border-radius: 100px;
}

.tag-separator:last-child {
  display: none;
}

.card .tags .tag {
  font-size: 0.8em;
}

.latest {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

@media screen and (min-width: 970px) {
  .latest {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.latest header {
  grid-column: 1/-1;
}

.up-next {
  margin: 0 auto;
  display: grid;
  gap: 1em;
}

.up-next .featured.post {
  height: 300px;
}

.post-queue {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 0;

  p,
  h2,
  time {
    margin: 0;
    grid-column: 2/3;
  }

  &::before {
    content: "";
    align-self: center;
    grid-row: 1/4;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-arrow-left'%3E%3Cline x1='19' y1='12' x2='5' y2='12'%3E%3C/line%3E%3Cpolyline points='12 19 5 12 12 5'%3E%3C/polyline%3E%3C/svg%3E ");
    width: 2em;
    height: 2em;
    margin-right: 1em;
    background-size: cover;
  }

  &.next {
    text-align: right;

    &::before {
      transform: rotate(180deg);
      grid-column: 3/4;
    }
  }
}

.up-next a {
  color: inherit;
  background: none;
  padding: 1em;
  border-radius: 0.5em;

  &:hover {
    background-color: rgba($pink, 0.1);
  }
}

main.article {
  margin: 0;
  padding: 0;
  max-width: none;

  .article__header {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr var(--content-width) 1fr;
    grid-template-rows: 1fr 200px auto;

    .article__cover {
      width: 100%;
      grid-column: 1/-1;
      grid-row: 1/3;
      max-height: 500px;
      object-fit: cover;
      object-position: center;
    }

    .article__header__content {
      grid-column: 1/-1;
      grid-row: 2/4;
      background-color: var(--bg-color);
      padding: 1em;
      border-radius: 0.25em;
      box-shadow: 0 5px 18px #0003;
      margin: 2em 10vw;
    }
  }

  .article__contents,
  footer {
    grid-column: 2/3;
  }

  .article__contents {
    display: grid;
    grid-template-columns: 1fr var(--content-width) 1fr;

    & > * {
      grid-column: 2/3;
    }

    .notice.notice--ad {
      display: none;
    }
    & > .wide-image {
      grid-column: 1/-1;
    }

    p,
    ul,
    dl,
    ol,
    table {
      font-family: var(--copy-font);
    }
  }
}
