kbd {
  background-color: var(--bg-code);
  display: inline-block;
  padding: 0.1em 0.25em;
  border-radius: 0.25em;
  font-family: var(--monospace);
  border: 1px solid #0002;
  text-indent: 0;
  box-shadow: var(--kbd-shadow);
}

div.highlighter-rouge {
	margin: 2em auto;
	display: block;
	width: max-content;
	max-width: var(--content-width);
}

.highlight {
  code {
    padding: 0;
  }

  table {
    border-spacing: 0;
    margin: 0;
    width: 100%;
  }
}

.rouge-code {
  padding-left: 0.25em;
  padding-right: 1em;
}

.note {
  code {
    color: inherit;
  }

}
