a.featured {
  border-radius: 0.5rem;
  display: block;
  padding: 1rem;
  color: var(--fg-color);
  background-image: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  transition: background-color 300ms;

  &:hover {
    background-color: #21212133;
  }

  .featured__image {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 3px 5px #000a;
  }

  .featured__body {
    align-self: center;

    h2, h3 {
      margin: 1rem auto;
    }

    h3 {
      font-size: 1rem;
      font-weight: normal;
    }
  }

  .byline {
    padding: 0;
    gap: 0.25rem;
    grid-template-columns: min-content 1fr;
  }
}

.card-grid {
  max-width: var(--page-width);
  padding: 2rem;
  display: grid;
  gap: 2rem;
}

@media (min-width: 940px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
    
    a.featured:first-child {
      grid-column: span 2;
    }
  }
}

.post {
  max-width: none;
  padding: 0;
  line-height: 1.5; 

  .post__header {
    padding: 5vh 10vw;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
  }

  h1 {font-size: 1.802rem;}
  h2 {font-size: 1.602rem;}
  h3 {font-size: 1.424rem;}
  h4 {font-size: 1.266rem;}
  h5 {font-size: 1.125rem;}
  small, .text_small {font-size: 0.889rem;}

  .post__title {
    margin: 0;
    line-height: 1;
    font-size: 1.802rem;
    font-size: clamp(5rem, 10vw, 1.802rem);
  }

  .post__subtitle {
    font-weight: normal;
    line-height: 1.25;
  }

  .post__contents {
    font-family: var(--copy-font);

    p, ul, ol {
      font-size: 1.1em;
    }

    h2 {
      color: var(--grape-900);

      &::before {
        content: '';
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3' height='3'%3E%3Ccircle cx='2.5' cy='2.5' r='.5' fill='%23242a49'/%3E%3C/svg%3E") repeat center center;
        display: block;
        width: 10ch;
        height: 1em;
      }
    }
  }

  & > * {
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;

    & > * {
      grid-column: 2;
    }

    blockquote,
    .post__title,
    .post__subtitle,
    .full-bleed {
      width: 100%;
      grid-column: 1 / 4;
      max-width: none;
    }

    blockquote {
      width: 90%;
      margin: auto;
    }
  }
}

.social {
  text-align: center;
  
  .share {
    a{
      display: inline-block;
      margin: 1rem;
      background-image: none;
      padding: 1rem;
      border-radius: 0.5rem;
      
      &:hover, &:focus {
        background-color: var(--accent-light);
      }
    }
    
    img {
      width: 2rem;
      display: block;
    }
  }
}

#markdown-toc {
  display: none;
}
