.byline {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: 2fr repeat(2, min-content) 2fr;
  grid-template-areas:
    "avatar ."
    "avatar author"
    "avatar details"
    "avatar .";
  align-items: center;
  padding: 1rem;
  gap: 0.25rem;
  font-size: 0.8em;
  font-family: var(--ui-font);


  .avatar {
    margin: 1rem;
    border-radius: 100%;
    grid-area: avatar;
    height: auto;
    width: 50px;
  }

  .author {
    grid-area: author;

    .name {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 0.25em;
    }

    .description {
      opacity: 0.5;
    }
  }


  .details {
    grid-area: details;
    .post-date {
      grid-area: pubdate;
      opacity: 0.5;
    }

    .read-time {
      grid-area: readtime;
      opacity: 0.5;
    }
  }
}

.post__header {
  a.name {
    color: $yellow;
    background-image: linear-gradient(rgba($yellow, 0.1), rgba($yellow, 0.1));
  }
}