<!DOCTYPE html>
<html lang="{{ site.language }}" dir="{{ site.lang_direction }}">
  {% include head.html %}
  <body class="{% if page.url == '/' %}home {% endif %}">
    <a class="skip-to-content-link" href="#main">
      Skip to content
    </a>
    {% include nav.html %}
    {% if page.has_banner %}{% include cta-banner.html %}{% endif %}
    <div class="page-width" id="main">
      {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" target="_blank" href="http' }}
      
      {% include medium.html %}
    </div>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
