<!DOCTYPE html>
<html lang="tl" dir="ltr" class="lesson">
  {% include head.html %}
  <body class="{% if page.url == '/' %}home {% endif %}">
    {% assign courseData = site.data.courses | where: 'id', page.course %}
    {% assign coursePage = site.courses | where: 'course_id', page.course %}
    {% include nav.html %}
    {% assign currentLesson = courseData[0].lessons | where: 'id', page.id %}
    {% assign lessonsCount = courseData[0].lessons | size | minus: 1 %}
    
    {% for i in (0..lessonsCount) %}
      {% if courseData[0].lessons[i].id == page.id %}
        {% assign nextLessonIndex = i | plus: 1 %}
        {% assign prevLessonIndex = i | minus: 1 %}
        
        {% if courseData[0].lessons[nextLessonIndex] and nextLessonIndex <= lessonsCount %}
          {% assign nextLessonID = courseData[0].lessons[nextLessonIndex].id %}
          {% assign nextLessonTitle = courseData[0].lessons[nextLessonIndex].title %}
        {% endif %}
        
        {% if courseData[0].lessons[prevLessonIndex] and prevLessonIndex >= 0 %}
          {% assign prevLessonID = courseData[0].lessons[prevLessonIndex].id %}
          {% assign prevLessonTitle = courseData[0].lessons[prevLessonIndex].title %}
        {% endif %}
      {% endif %}
    {% endfor %}
    
    {% if page.video_embed != nil %}
    {% include downloads.html %}
    {% endif %}
    
    {% include lesson-nav.html prevLessonID=prevLessonID nextLessonID=nextLessonID prevLessonTitle=prevLessonTitle nextLessonTitle=nextLessonTitle %}
    <section class="lesson__article">
      {% if page.video_embed != nil %}<hr>{% endif %}
      <article>
      {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" target="_blank" href="http' }}
      </article>
    {% include license.html %}
    {% include lesson-nav.html prevLessonID=prevLessonID nextLessonID=nextLessonID prevLessonTitle=prevLessonTitle nextLessonTitle=nextLessonTitle %}
    </section>
    {% include social.html %}
    {% include footer.html %}
    {% include scripts.html checkpoints=true %}
  </body>
</html>
