<!DOCTYPE html>
<html lang="fil" dir="ltr">
  {% include head.html %}
  <body class="{% if page.url == '/' %}home {% endif %}">
    <a class="skip-to-content-link" href="#main"> Skip to content </a>
    {% include nav.html %}
    <main class="article" id="main">
      {% include outdated.html post=page %} {% if page.hidden %}
      <aside class="embargo">
        {% if page.hidden != true %}
        <h1>
          Under embargo until {{ page.hidden | date: "%a, %b %e, %Y %H:%M" }}
          UTC!
        </h1>
        <p>
          Please respect the embargo by not sharing this URL. The content below
          may be subject to minor changes before the embargo is lifted.
        </p>
        {% else %}
        <h1>Note: This post is hidden!</h1>
        <p>
          Please respect any embargoes by not sharing this URL. The content
          below may be unfinished, inaccurate, or subject to change.
        </p>
        {% endif %}
        <hr />
      </aside>
      {% endif %}
      <header class="article__header">
        <img src="{{ page.image }}" alt="" class="article__cover" />
        <div class="article__header__content">
          {% include tags.html %}
          <h1 class="article__title">
            {% include title.html title=page.title %}
          </h1>
          {% if page.description %}
          <p class="article__subtitle">
            {% include title.html title=page.description %}
          </p>
          {% endif %}
          
          {% if site.authors[page.author].name %}
            {% assign author=site.authors[page.author] %}
          {% else %}
            {% assign author=site.authors["anonymous"] %}
          {% endif %}
          <div class="byline">
            <address class="byline__author">
              <a href="{{ site.baseurl }}/authors/{{ page.author }}"
                >{{ author.name }}</a
              >
            </address>
            <date datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date: "%a, %b %e, %Y" }}</date>
          </div>
        </div>
      </header>
      <section class="article__contents">
        {{ content | replace: '<a href="http', '<a rel="nofollow noopener
        noreferrer" target="_blank" href="http' }}
      </section>

      <footer>
        {% include thanks.html %} {% include license.html %} {% include
        social.html %}

        <script
          src="https://utteranc.es/client.js"
          repo="antaresprogramming/antaresprogramming.github.io"
          issue-term="og:title"
          theme="github-light"
          crossorigin="anonymous"
          async
        ></script>
      </footer>
    </main>

    <section aria-labelledby="up-next" class="up-next">
      <h2 id="up-next" class="up-next__header">Up Next</h2>
      <div class="flex">
      {% if page.previous %}
        {% unless page.previous.hidden %}
        <a href="{{ page.previous.url | prepend: site.baseurl }}">
          <article class="post-queue previous">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
            <h2>{{ page.previous.title }}</h2>
            <time datetime="{{ page.previous.date | date:"%Y-%m-%d" }}">{{ page.previous.date | date: "%a, %b %e, %Y" }}</time>
          </article>
        </a>
        {% endunless %}
      {% else %}
        <span></span>
      {% endif %}
        {% if page.next %} {% unless page.next.hidden %}
      <a href="{{ page.next.url | prepend: site.baseurl }}">
        <article class="post-queue next">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
          <h2>{{ page.next.title }}</h2>
          <time datetime="{{ page.next.date | date:"%Y-%m-%d" }}">{{ page.next.date | date: "%a, %b %e, %Y" }}</time>
        </article>
      </a>
      {% endunless %}
      {% else %}
        <span></span>
      {% endif %}
      </div>
    </section>

    {% include medium.html %} {% include footer.html %} {% include scripts.html
    %}
  </body>
</html>
