<!DOCTYPE>
<html lang="tl">
{% include head.html %}
<body class="zirconium-lesson">
  {% include nav.html %}
  {% include lesson-list.html courseID=page.course %}


    
    {% assign courseData = site.data.courses | where: 'id', page.course | first %}
    {% assign lessonData = courseData.lessons | where: 'id', page.id | first %}
    {% assign count = courseData.lessons | size | minus: 1 %}

    {% for i in (0..count) %}
      {% if courseData.lessons[i].id == page.id %}
        {% assign lessonnumber = i | plus: 1 %}
      {% endif %}
    {% endfor %}
  <main>
    {% include zirconium-lesson-breadcrumb.html %}
    {% if page.video_embed != nil %}
    <section class="lesson__video">
      <div class="lesson__video-wrapper">
        <img class="aspect-ratio-hack" src='data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACwAAAAAEAAJAAACCoSPqcvtD6OclBUAOw=='>
        <iframe title="VIDEO: {{ page.title }}" class="lesson__video-embed" width="560" height="315" src="{{ page.video_embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </section>
    {% endif %}

    <header class="lesson__header">
      <p class="lesson__details">{{ courseData.title }} &middot; Lesson {{ lessonnumber | json }}</p>
      <h1 class="lesson__title">{{ lessonData.title }}</h1>
      <p class="lead">{{ lessonData.summary }}</p>
    </header>
    {% if page.downloads != nil %}
    <section class="lesson__downloads">
      <h2>Downloads</h2>
      <div class="lesson__downloads__buttons">
        {% if page.downloads.code != nil %}<a href="{{ page.downloads.code }}" download class="btn">Code</a>{% endif %}
        {% if page.downloads.pdf != nil %}<a href="{{ page.downloads.pdf.link }}" download class="btn">Article (PDF, {% if page.downloads.pdf.file_size != nil %}{{ page.downloads.pdf.file_size }}{% endif %})</a>{% endif %}
        {% if page.downloads.video != nil %}<a href="{{ page.downloads.video }}" download class="btn">Video</a>{% endif %}
      </div>
    </section>
    {% endif %}
    <section class="lesson__body">
      {{ content | replace: '<a href="http', '<a rel="nofollow noopener noreferrer" target="_blank" href="http' }}
    </section>
  </main>
    {% include zirconium-lesson-nav.html currentLessonID=page.id course=page.course %}
    {% include social.html %}
    {% include footer.html %}
    {% include scripts.html checkpoints=true %}
</body>
</html>
